//Import de la fuente desde google fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

//Declaracion de variables y breakpoints
$font: 'Open Sans';
$mediumSmall:600px;
$medium:768px;
$mediumLarge:1024px;
$large:1200px;

//Escondo la scrollbar para Chrome y safari

//Configuraciones globales
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font;
  text-decoration: none;
  color: #000;
  scrollbar-width: none;
  scroll-behavior: smooth;
  list-style: none;
}

// NavBar
.navBar{
  display: flex;
  justify-content: space-between;
  padding: 3.5vw 2.5vw;
  z-index: 3;

  @media (max-width:$mediumSmall) {
    height: 20vw;
    align-items: center;
  }

  // Logo
  &__logo{
    overflow: hidden;
    width: 45%;
    display: flex;
    gap: 3.5%;



    

    // Animacion que se activa al cargar la pagina
    @keyframes logoAnimation{
      0%{
        transform: translateY(-200%);
      }
      100%{
        transform: translateY(0);
      }
    }

    // Dandole la animacion a cada uno de los SVG's del logo
    &>*{
      animation:logoAnimation 1s both;
      height: 2.5vw;

      @media (max-width:$mediumSmall) {

        height:6vw; 

      }
    }

    // Dando delay por cada letra, para crear mas movimiento en la animacion
    &>*:nth-child(2){animation-delay: .1s;}
    &>*:nth-child(3){animation-delay: .2s;}
    &>*:nth-child(4){animation-delay: .3s;}
    &>*:nth-child(5){animation-delay: .4s;}
  }


  // Estilos del boton que activa el menu hamburguesa
  &__hambButton{
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-self: flex-end;
    box-sizing: content-box;
    padding: 1vw 2vw 1vw 2vw;
    width: 5vw;
    background-color: #000;
    border-radius: 2em;
    cursor:pointer;
    position: fixed;
    top: 2.5vw;
    right: 2.5vw;

    //media query para agrandar el boton en dispositivos pequeños
    @media (max-width:$mediumSmall) {
      top: 6vw;
      height: 7vw;
      width: 18vw;
    }

    & p{
      color: #fff;
      font-weight: 200;
      font-size: 1vw;
      text-align: left;

      //Ajustar la fuente en dispositivos pequeños
      @media (max-width:$mediumSmall) {
        font-size: 3vw;
      }
    }

    // Barras del boton para el menu hamburguesa
    &__bars{
      width: 1.5vw;
      display: flex;
      flex-direction: column;
      gap: .3vw;
      &__barL{
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
      &__barS{
        width: 50%;
        height: 1px;
        background-color: #fff;
      }
    }
  }

  // Estilos del menu hamburguesa
  &__hamburger{
    transition: transform .5s cubic-bezier(.49,.17,.07,1);
    transform: translateX(100vw);
    padding: 5vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000;
    width: 50vw;
    height: 100vh;
    z-index: 10;

    // Ajustes para que el menu hamburguesa aparezca desde arriba cuando se está en mobile
    @media (max-width:$mediumSmall) {
      transform: translateY(-100vh);
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;

      & *{
        font-size: 10vw;
      }

    }

    &__logo{

      display: none;

      @media (max-width:$mediumSmall){ 
      margin: 3vw 0;
      max-height: 2vw;
      display: flex;
      gap: 1vw;
      filter: contrast(2) invert(1);
      max-height: 5vw;
      }
    }

    // estilos de la primer fila del menu hamburguesa
    &__upper{
      display: flex;
      flex-direction: column;
      font-size: 2.5vw;
      gap: 2vw;
      &__item{
        list-style: none;
        & a{
          color: #fff;
          & b{
              color: #fff;
          }
          & i{
              color: #fff;
          }
        }
      }
    }

    // estilos de la segunda fila del menu hamburguesa
    &__middle{
      & *{
        color: #fff;
        font-size: 2vw;
      }
      padding-top: 3vw;
      padding-bottom: 3vw;
      display: flex;
      justify-content: space-between;

      @media (max-width:$mediumSmall) {
        flex-direction: column;
        justify-content: flex-start;
        & *{
          font-size: 10vw;
        }

      }
      
    }

    // estilos de la ultima fila del menu hamburguesa
    &__bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // Boton del newsletter
      &__newsletter{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 2vw 1vw 2vw;
        color: #000;
        font-size: 1vw;
        font-weight: 700;
        & *{
          color: #000;
        }
        background-color: #77D7DB;
        border: none;

        //Ajusta el tamaño en dispositivos pequeños
        @media (max-width:$mediumSmall) {
          width: 100%;
          font-size: 3.5vw;
          padding: 4vw 6vw 4vw 6vw;
        }
      }

      // Color y tamaños de los favicons
      & #twt, & #yt{
        color: #77D7DB;
        font-size: 2vw;

        @media (max-width:$mediumSmall) {
          display: none;
        }
      }
    }

    &__redes{

      display: none;

      @media (max-width:$mediumSmall){
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 6vw 0;
        & *{
          color: #fff;
          font-size: 4vw;
        }
      }




    }


  }
}

// Clase para la animacion del menu hamburguesa
// Esta clase se le aplica al div cuando el boton es presionado.
.showHamb{
  transform: translateX(0);

  @media (min-width:$mediumSmall) {
    transform: translateY(0);
  }
}

// Estilos de la seccion de bienvenida
.title{
  margin: 0 4vw  0 4vw;
  &__header{
    font-size: 15vw;
  }
  &__paragraph{
    font-size: 6.5vw;
    font-weight: 700;

    //Texto subrayado
    &__subText{
      background-color: #77D7DB;
    }
  }
}

//SECCION DE LAS MARQUESINAS
.movingBanners__banner__bannerContainer{
  margin: 4vw 0 2vw 0;
  overflow: hidden;
  height: 20vw;
  display: flex;
}
.movingBanners__banner__bannerContainer__piece{
  overflow: hidden;
  width: 25vw;
  flex-shrink: 0;
  display: flex;
}
.movingBanners__banner__bannerContainer__piece h1{
place-self: center;
text-align: center;
width: 100%;
font-size: 4.5vw;
}
.movingBanners__banner__bannerContainer__piece img{
height: 100%;
}

//clase para las marquesinas que van hacia la izquierda
.leftScroll{
  animation: bannermoveL 25s linear infinite ;
}

//clase para las marquesinas que van hacia la derecha
.rightScroll{
  animation: bannermoveR 25s linear infinite ;
}

//animacion infinita hacia la derecha
@keyframes bannermoveR {
  0% {
      transform: translate(-100vw, 0);
  }
  100% {
      transform: translate(0vw, 0);
  }
}
//animacion infinita hacia la izquierda
@keyframes bannermoveL {
  0% {
      transform: translate(0vw, 0);
  }
  100% {
      transform: translate(-100vw, 0);
  }
}

.somos{
  height: 50vw;
  background-color: #FF5E43;
  padding: 5vw ;
  &__text{
    font-size: 4.5vw;
  }
  
  @media (max-width:$mediumSmall) {
    height:fit-content;

    &__text{
      font-size: 7vw;
    }
  }
}

//Seccion Nuestro enfoque e imagen
.nuestroEnfoque{
  display: flex;
  height: 50vw;

  @media (max-width:$mediumSmall) {
    height: fit-content;
    flex-direction: column;
  }

  // Estilos del lado del texto
  &__left{
    width: 50%;
    background-color: #77D7DB;
    padding:7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width:$mediumSmall) {
      width:100%;
      height: 50vh;
      flex-shrink: 0;
    }

    &__texto1{
      font-size: 1.3vw;
      font-weight: 800;
      letter-spacing: .3vw;
      font-size: 1vw;

      @media (max-width:$mediumSmall) {
        font-size: 3vw;
      }
    }

    &__texto2{
      font-size: 1.63vw;
      font-weight: 600;

      @media (max-width:$mediumSmall) {
        font-size: 4vw;
      }
    }
  }

  // Estilos del lado de la imagen
  &__right{
    overflow:hidden;
    width: 50%;
    
    @media (max-width:$mediumSmall) {
      width: 100%;
      height: 50vh;

    }

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 100% ;
    }
  }
}

// Clases para la animacion del texto apareciendo en scroll
.hidden{
  transition: transform 700ms cubic-bezier(.49,.17,.07,1), opacity 700ms cubic-bezier(.49,.17,.07,1);
  transform: translateX(-60%);
  opacity: 0;
}
.show{
  opacity: 1;
  transform: translateY(0);
}
.hiddenUp{
  z-index: 0;
  transition: transform 700ms cubic-bezier(.49,.17,.07,1), opacity 700ms cubic-bezier(.49,.17,.07,1);
  transform: translateY(20%);
  opacity: 0;
}
.showUp{
  opacity: 1;
  transform: translateY(0);
}

//Seccion del slider de tweets
.tweetSection{
  display: flex;
  height: 45vw;

  @media (max-width:$mediumSmall) {
    flex-direction: column-reverse;
    height: fit-content;
  }

// lado de la imagen
  &__left{
    width: 50%;
    overflow: hidden;
    z-index: -3;

    @media (max-width:$mediumSmall) {
      width: 100%;
      height: 50vh;
    }

    & img{
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: 40% 100%;
    }
  }

  &__right{
    position:relative;
    flex-direction: column;
    width: 50%;
    background-color: #1DA1F2;
    padding:7vw;
    overflow: hidden;

    // cuando el vw es chico, ocupa todo el espacio de su seccion
      @media (max-width:$mediumSmall) {
        width: 100%;
        height: 50vh;
      }

    // Flechas del slider
    &__arrows{
      display: flex;
      justify-content: space-between;
      font-size: 3vw;
      margin-top: 90%;

      @media (max-width:$mediumSmall) {
        font-size: 6vw;
        margin-top: 40vh;
      }
    }

    //estilo para las cards de los tweets
    &__card{
      transition: transform .5s cubic-bezier(.49,.17,.07,1);
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 60%;
      width: 36vw;
      justify-content: space-around;

      @media (max-width:$mediumSmall) {
        height: 75%;
        width: 86vw;
      }

      // seguinos en twitter
      &__title{
        font-size: 1.3vw;
        font-weight: 800;
        letter-spacing: .3vw;

        @media (max-width:$mediumSmall) {
          font-size: 4vw;
        }
      }

      //logo de twitter
      & #twitterLogo{
        color: #fff;
        font-size: 3vw;

        @media (max-width:$mediumSmall) {
          font-size: 8vw;
        }
      }

      //Boronstudio y @Boronstudio
      &__tweeter{
        &__name{
          font-size: 3vw;
          font-weight: 700;

          @media (max-width:$mediumSmall) {
            font-size: 5vw;
          }
        }
        
        &__at{
          color: #fff;
          font-size: 1vw;
          font-weight: 500;

          @media (max-width:$mediumSmall) {    
            font-size: 3vw;        
          }
        }
      }

      //contenido del tweet
      &__tweet{
        &__hour{
          font-size: 1vw;
          font-weight: 700;
          font-style: italic;

          @media (max-width:$mediumSmall) {
            font-size: 3vw;
          }
        }
        &__tweetContent{
          font-size: 1.5vw;
          font-weight: 600;

          @media (max-width:$mediumSmall) {
            font-size: 4vw;
          }

          //marcando ciertas partes en blanco
          & mark{
            background: none;
            color: white;
          }
        }
      }
    }
  }
}

// repositorio
.repositorio{
  padding: 2vw 3vw 0 3vw;
  display:flex;
  flex-direction: column;

  //header del repositorio
  &__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #A8A8A8;
    padding-bottom: 1.5vw;
    align-items: center;

    @media (max-width:$mediumSmall) {
      flex-direction: column;
      text-align: center;
    }


    //titulo
    & h1{
      font-size: 4vw;
      width: 95vw;

      @media (max-width:$mediumSmall) {
        font-size: 8vw;
      }

    }
    //texto pequeño que aparece a la derecha
    & p{
      font-size:1vw;
      font-weight: 500;


      @media (max-width:$mediumSmall) {
        font-size: 4vw;
        margin-bottom: 2.5vw;
      }

    }
  }

  //contenedor de los items del repositorio
  &__itemContainer{
    display: flex;
    flex-direction: column;

    //items del repositorio
    &__item{
      position: relative;
      padding: 1vw 2vw 1vw 2vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #A8A8A8;
      overflow: hidden;

      // ajuste del tamaño de la fuente en dispositivos mas pequeños
      @media (max-width:$mediumSmall) {
        padding: 4vw 4vw 4vw 4vw;
        font-size: 4vw;
      }


      &:hover::after{
        height: 0;

      // La animacion del repositorio funciona de la siguiente manera:
      // El pseudoelemento ::after está constantemente por encima de la imagen
      //que tienen los items del repositorio.
      // Al hacerle hover al item del repositorio, el pseudoelemento ::after
      //se esconde y se ve la imagen de fondo que cada elemento contiene.
      //Me pareció un método ingenioso y distinto a lo que se ve normalmente,
      //(como lo que usé en la seccion de novedades).
      }

      //estilo y posicion de la 'tapa' de los items del repositorio
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all 1s cubic-bezier(.49,.17,.07,1);
      }
      &>*{
        // pongo todos los elementos dentro de los items del repositorio arriba de la 'tapa'
        z-index: 2;
      }
      & h2{
        font-weight: 500;
      }
    }
  }
}

//Toda esta seccion es seteo y posicionamiento del background de los
//distintos items, soy consciente de que habían metodos mas eficientes
//pero quise probar algo distinto.
.image1{
background: url(/assets/img/repositorio/aaron-burden-xG8IQMqMITM-unsplash.jpg);
background-size: cover;
background-position: center;
}
.image2{
background: url(/assets/img/repositorio/kimberly-farmer-lUaaKCUANVI-unsplash.jpg);
background-size: cover;
background-position: center;
}
.image3{
background: url(/assets/img/repositorio/olga-tutunaru-plbb7pkEjkQ-unsplash.jpg);
background-size: cover;
background-position: center;
}
.image4{
background: url(/assets/img/repositorio/susan-q-yin-2JIvboGLeho-unsplash.jpg);
background-size: cover;
background-position: center;
}


//seteo del color de las cards en 'Novedades'
.blueCard{ background-color: #049CC7;}
.cyanCard{background-color: #00D8DC;  transition-delay: 100ms}
.greenCard{background-color: #00CE99;  transition-delay: 150ms}
.yellowCard{background-color :#FEDB1D;  transition-delay: 200ms}


//novedades
.novedades{
font-size: 3vw;
text-align: center;

  & h1{
    margin-bottom: 1.5vw;  
    margin-top: 4vw;  

    @media (max-width:$mediumSmall) {
      font-size: 10vw;
    }

  }

  //contenedor de las cards
  &__cardContainer{
    margin: 2vw;
    display:flex;
    text-align: left;
    font-size: 1vw;
    gap: 2px;

    @media (max-width:$mediumSmall) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30vh 30vh;
      margin: 0;
    }

    // cards
    &__card{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30vw;
      width: 25%;
      padding: 3em;
      font-weight: 600;
      font-size: 1.5vw;
      overflow: hidden;

      // en mobile, se ponen en column
      @media (max-width:$mediumSmall) {
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 3.5vw;
      }

      // en hover aparece la imagen 
      &:hover img{
        transform: translateY(0%);
      }

      & img{
        position: absolute;
        top: 0;
        left: 0;
        height: 70%;
        width: 110%;
        object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 79%);
        transform: translateY(-100%);
        transition: all 1s cubic-bezier(.49,.17,.07,1);
      }

      //header de cada card
      &__header{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.footer{
  background-color: #000;
  height: fit-content;

  & *{
    color: #fff;
  }


    &__gridLayout{

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1.5fr;
      column-gap: 3vw;
      grid-template-areas:  '↖ ⬆ ⬇'
                            '⬅ ⬆ ⬇';
      padding: 3vw 6vw 0 6vw;
      height: 90%;


      @media (max-width:$mediumSmall){

        grid-template-areas:  '↖'
                              '⬇'
                              '⬅'
                              '⬆';
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, max-content);

      padding: 10vw 6vw 0 6vw;
        
      }

      &__logo{    
        grid-area: ↖;
        max-height: 2vw;
        display: flex;
        gap: 1vw;

    
        filter: contrast(2) invert(1);

        @media (max-width:$mediumSmall){
          max-height: 5vw;
        }
      }
    
      &__newsletter{
        grid-area: ⬅;

        font-size: 1.5vw;
        font-weight: 600;

        @media (max-width:$mediumSmall){
          font-size: 9vw;
        }

        & button{

          border: none;
          display: flex;
          align-items: center;
          justify-content: space-between;

          letter-spacing: .07vw;
          font-weight: 800;

          width: 80%;
          padding: 1vw 2vw;
          margin-top: 2vw;

          @media (max-width:$mediumSmall){
            width: 100%;
            padding: 4vw 6vw;
            margin: 5vw 0;
          }
          & *{
            color: #000;
          }

          color: #000;
          background-color: #77D7DB;

        }

      }
    
      &__redes{
        grid-area: ⬆;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        font-size: .9vw;
        font-weight: 600;

        
        @media (max-width:$mediumSmall){
          font-size: 4vw;
          margin: 5vw 0;
        }

        & i{
          font-size: 2vw;
          color: #77D7DB;

          @media (max-width:$mediumSmall){
            font-size: 8vw;
          }

        }
      }
    
      &__links{
        grid-area: ⬇;
        display: grid;
        place-content: stretch center;
        height: 100%;

        @media (max-width:$mediumSmall){

        display: flex;
        align-items: center;
        place-content: flex-start;


        }

        

        & ul{
          display: flex;
          justify-content: space-between;
          width: 100%;
          flex-direction: column;
          
          height: 100%;

          @media (max-width:$mediumSmall){
            width: 100%;
            height: 20vh;
            flex-wrap: wrap;
            gap: 3vh;
            justify-content: flex-start;

            margin: 3vh 0;
          }

        }


      }
    }
    &__copyright{
      height: fit-content;
      width: 100%;
      padding: 2vw 3vw 1vw 2vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width:$mediumSmall){
        flex-direction: column-reverse;
        gap: 3vw;
      }

      opacity: .5;
    }
  }

