//Import de la fuente desde google fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

//Declaracion de variables y breakpoints
$font: 'Open Sans';
$mediumSmall:600px;
$medium:768px;
$mediumLarge:1024px;
$large:1200px;

//Escondo la scrollbar para Chrome y safari

//Configuraciones globales
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font;
  text-decoration: none;
  color: #000;
  scrollbar-width: none;
  scroll-behavior: smooth;
  list-style: none;
}

// NavBar
.navBar{
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 3.5vw 2.5vw 1vw 2.5vw;
  z-index: 3;

  // Logo
  &__logo{
    overflow: hidden;
    width: 45%;
    display: flex;
    gap: 3.5%;

    // Animacion que se activa al cargar la pagina
    @keyframes logoAnimation{
      0%{
        transform: translateY(-200%);
      }
      100%{
        transform: translateY(0);
      }
    }

    // Dandole la animacion a cada uno de los SVG's del logo
    &>*{
      animation:logoAnimation 1s both;
      height: max(15px, 2.5vw);
    }

    // Dando delay por cada letra, para crear mas movimiento en la animacion
    &>*:nth-child(2){animation-delay: .1s;}
    &>*:nth-child(3){animation-delay: .2s;}
    &>*:nth-child(4){animation-delay: .3s;}
    &>*:nth-child(5){animation-delay: .4s;}
  }


  // Estilos del boton que activa el menu hamburguesa
  &__hambButton{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-self: flex-end;
    box-sizing: content-box;
    padding: 1vw 2vw 1vw 2vw;
    width: 5vw;
    background-color: #000;
    border-radius: 2em;
    cursor:pointer;
    position: fixed;
    top: 3.5vw;
    right: 2.5vw;

    //media query para agrandar el boton en dispositivos pequeños
    @media (max-width:$mediumSmall) {
      height: 5vw;
      width: 13vw;
    }

    & p{
      color: #fff;
      font-weight: 200;
      font-size: 1vw;
      text-align: left;

      //Ajustar la fuente en dispositivos pequeños
      @media (max-width:$mediumSmall) {
        font-size: 2vw;
      }
    }

    // Barras del boton para el menu hamburguesa
    &__bars{
      width: 1.5vw;
      display: flex;
      flex-direction: column;
      gap: .3vw;
      &__barL{
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
      &__barS{
        width: 50%;
        height: 1px;
        background-color: #fff;
      }
    }
  }

  // Estilos del menu hamburguesa
  &__hamburger{
    transition: transform .5s cubic-bezier(.49,.17,.07,1);
    transform: translateX(100vw);
    padding: 5vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000;
    width: 50vw;
    height: 100vh;

    // Ajustes para que el menu hamburguesa aparezca desde arriba cuando se está en mobile
    @media (max-width:$mediumSmall) {
      transform: translateY(-100vh);
      top: 0;
      width: 100vw;
      height: max-content;
      background-color: black;
    }

    // estilos de la primer fila del menu hamburguesa
    &__upper{
      display: flex;
      flex-direction: column;
      font-size: 2.5vw;
      gap: 2vw;
      &__item{
        list-style: none;
        & a{
          color: #fff;
          & b{
              color: #fff;
          }
          & i{
              color: #fff;
          }
        }
      }
    }

    // estilos de la segunda fila del menu hamburguesa
    &__middle{
      & *{
        color: #fff;
        font-size: 2vw;
      }
      padding-top: 3vw;
      padding-bottom: 3vw;
      display: flex;
      justify-content: space-between;
    }

    // estilos de la ultima fila del menu hamburguesa
    &__bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // Boton del newsletter
      &__newsletter{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 2vw 1vw 2vw;
        color: #000;
        font-size: 1vw;
        font-weight: 700;
        & *{
          color: #000;
        }
        background-color: #77D7DB;
        border: none;

        //Ajusta el tamaño en dispositivos pequeños
        @media (max-width:$mediumSmall) {
          font-size: 2vw;
          padding: 2vw 6vw 2vw 6vw;
        }
      }

      // Color y tamaños de los favicons
      & #twt{
        color: #77D7DB;
        font-size: 2vw;

        @media (max-width:$mediumSmall) {
          font-size: 5vw;
        }
      }
      & #yt{
        color: #77D7DB;
        font-size: 2vw;

        @media (max-width:$mediumSmall) {
          font-size: 5vw;
        }
      }
    }
  }
}

// Clase para la animacion del menu hamburguesa
// Esta clase se le aplica al div cuando el boton es presionado.
.showHamb{
  transform: translateX(0);

  @media (min-width:$mediumSmall) {
    transform: translateY(0);
  }
}

// Estilos de la seccion de bienvenida
.title{
  margin: 0 8vw  0 8vw;
  &__header{
    font-size: max(3vw, 13vw);
  }
  &__paragraph{
    font-size: min(5vw, 81px);
    font-weight: 700;

    //Texto subrayado
    &__subText{
      background-color: #77D7DB;
    }
  }
}

//SECCION DE LAS MARQUESINAS
.movingBanners__banner__bannerContainer{
  margin: 4vw 0 2vw 0;
  overflow: hidden;
  height: 20vw;
  display: flex;
}
.movingBanners__banner__bannerContainer__piece{
  overflow: hidden;
  width: 25vw;
  flex-shrink: 0;
  display: flex;
}
.movingBanners__banner__bannerContainer__piece h1{
place-self: center;
text-align: center;
width: 100%;
font-size: 4.5vw;
}
.movingBanners__banner__bannerContainer__piece img{
height: 100%;
}

//clase para las marquesinas que van hacia la izquierda
.leftScroll{
  animation: bannermoveL 25s linear infinite ;
}

//clase para las marquesinas que van hacia la derecha
.rightScroll{
  animation: bannermoveR 25s linear infinite ;
}

//animacion infinita hacia la derecha
@keyframes bannermoveR {
  0% {
      transform: translate(-100vw, 0);
  }
  100% {
      transform: translate(0vw, 0);
  }
}
//animacion infinita hacia la izquierda
@keyframes bannermoveL {
  0% {
      transform: translate(0vw, 0);
  }
  100% {
      transform: translate(-100vw, 0);
  }
}

.somos{
  height: 50vw;
  background-color: #FF5E43;
  padding: 5vw 5vw 5vw 5vw;
  &__text{
    font-size: 4.5vw;
  }
}

//Seccion Nuestro enfoque e imagen
.nuestroEnfoque{
  display: flex;
  height: 50vw;

  //cuando se esta desde un dispositivo pequeño, el flex pasa a ser columna
  @media (max-width:$mediumSmall) {
    height: 60vw;
    flex-direction: column-reverse;
  }

  // Estilos del lado del texto
  &__left{
    width: 50%;
    background-color: #77D7DB;
    padding:7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width:$mediumSmall) {
      width:100%;
      text-align: center;
    }

    &__texto1{
      font-size: 1.3vw;
      font-weight: 800;
      letter-spacing: .3vw;
      font-size: 1vw;

      @media (max-width:$mediumSmall) {
        font-size: 3vw;
      }
    }

    &__texto2{
      font-size: 1.63vw;
      font-weight: 600;

      @media (max-width:$mediumSmall) {
        font-size: 4vw;
      }
    }
  }

  // Estilos del lado de la imagen
  &__right{
    overflow:hidden;
    width: 50%;
    
    @media (max-width:$mediumSmall) {
      width: 100%;
      height: 100%;
      flex-shrink: 1;
    }

    &__img{
      height: 120%;
      transform: translateX(-30vw);

      @media (max-width:$mediumSmall) {
        transform: translate(-30vw, -10vw);
        height: 450%;
        width: 140%;
      }
    }
  }
}

// Clases para la animacion del texto apareciendo en scroll
.hidden{
  transition: transform 700ms cubic-bezier(.49,.17,.07,1), opacity 700ms cubic-bezier(.49,.17,.07,1);
  transform: translateX(-60%);
  opacity: 0;
}
.show{
  opacity: 1;
  transform: translateY(0);
}
.hiddenUp{
  z-index: 0;
  transition: transform 700ms cubic-bezier(.49,.17,.07,1), opacity 700ms cubic-bezier(.49,.17,.07,1);
  transform: translateY(20%);
  opacity: 0;
}
.showUp{
  opacity: 1;
  transform: translateY(0);
}

//Seccion del slider de tweets
.tweetSection{
  display: flex;
  height: 45vw;

  @media (max-width:$mediumSmall) {
    flex-direction: column;
    height: 90vw;
  }

// lado de la imagen
  &__left{
    width: 50%;
    overflow: hidden;

    // se esconde cuando el vw es pequeño
    @media (max-width:$mediumSmall) {
      display: none;
    }

    & img{
      height: 100%;
      transform: translateX(-15vw);
    }
  }

  &__right{
    position:relative;
    flex-direction: column;
    width: 50%;
    background-color: #1DA1F2;
    padding:7vw;
    overflow: hidden;

    // cuando el vw es chico, ocupa todo el espacio de su seccion
      @media (max-width:$mediumSmall) {
        width: 100%;
        height: 100%;
      }

    // Flechas del slider
    &__arrows{
      display: flex;
      justify-content: space-between;
      font-size: 3vw;
      margin-top: 90%;

      @media (max-width:$mediumSmall) {
        font-size: 6vw;
        margin-top: 70vw;
      }
    }

    //estilo para las cards de los tweets
    &__card{
      transition: transform .5s cubic-bezier(.49,.17,.07,1);
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 60%;
      width: 36vw;
      justify-content: space-around;

      @media (max-width:$mediumSmall) {
        height: 75%;
        width: 86vw;
      }

      // seguinos en twitter
      &__title{
        font-size: 1.3vw;
        font-weight: 800;
        letter-spacing: .3vw;

        @media (max-width:$mediumSmall) {
          font-size: 4vw;
        }
      }

      //logo de twitter
      & #twitterLogo{
        color: #fff;
        font-size: 3vw;

        @media (max-width:$mediumSmall) {
          font-size: 8vw;
        }
      }

      //Boronstudio y @Boronstudio
      &__tweeter{
        &__name{
          font-size: 3vw;
          font-weight: 700;

          @media (max-width:$mediumSmall) {
            font-size: 5vw;
          }
        }
        
        &__at{
          color: #fff;
          font-size: 1vw;
          font-weight: 500;

          @media (max-width:$mediumSmall) {    
            font-size: 3vw;        
          }
        }
      }

      //contenido del tweet
      &__tweet{
        &__hour{
          font-size: 1vw;
          font-weight: 700;
          font-style: italic;

          @media (max-width:$mediumSmall) {
            font-size: 3vw;
          }
        }
        &__tweetContent{
          font-size: 1.5vw;
          font-weight: 600;

          @media (max-width:$mediumSmall) {
            font-size: 4vw;
          }

          //marcando ciertas partes en blanco
          & mark{
            background: none;
            color: white;
          }
        }
      }
    }
  }
}

// repositorio
.repositorio{
  padding: 2vw 3vw 2vw 3vw;
  display:flex;
  flex-direction: column;

  //header del repositorio
  &__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #A8A8A8;
    padding-bottom: 1.5vw;
    align-items: center;

    //titulo
    & h1{
      font-size: 4vw;
      width: 95vw;
    }
    //texto pequeño que aparece a la derecha
    & p{
      font-size:1vw;
      font-weight: 700;
    }
  }

  //contenedor de los items del repositorio
  &__itemContainer{
    display: flex;
    flex-direction: column;

    //items del repositorio
    &__item{
      position: relative;
      padding: 1vw 2vw 1vw 2vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #A8A8A8;
      overflow: hidden;

      // ajuste del tamaño de la fuente en dispositivos mas pequeños
      @media (max-width:$mediumSmall) {
        font-size: 2vw;
      }


      &:hover::after{
        height: 0;

      // La animacion del repositorio funciona de la siguiente manera:
      // El pseudoelemento ::after está constantemente por encima de la imagen
      //que tienen los items del repositorio.
      // Al hacerle hover al item del repositorio, el pseudoelemento ::after
      //se esconde y se ve la imagen de fondo que cada elemento contiene.
      //Me pareció un método ingenioso y distinto a lo que se ve normalmente,
      //(como lo que usé en la seccion de novedades).
      }

      //estilo y posicion de la 'tapa' de los items del repositorio
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all 1s cubic-bezier(.49,.17,.07,1);
      }
      &>*{
        // pongo todos los elementos dentro de los items del repositorio arriba de la 'tapa'
        z-index: 2;
      }
      & h2{
        font-weight: 500;
      }
    }
  }
}

//Toda esta seccion es seteo y posicionamiento del background de los
//distintos items, soy consciente de que habían metodos mas eficientes
//pero quise probar algo distinto.
.image1{
background: url(/assets/img/repositorio/aaron-burden-xG8IQMqMITM-unsplash.jpg);
background-size: cover;
background-position: center;
}
.image2{
background: url(/assets/img/repositorio/kimberly-farmer-lUaaKCUANVI-unsplash.jpg);
background-size: cover;
background-position: center;
}
.image3{
background: url(/assets/img/repositorio/olga-tutunaru-plbb7pkEjkQ-unsplash.jpg);
background-size: cover;
background-position: center;
}
.image4{
background: url(/assets/img/repositorio/susan-q-yin-2JIvboGLeho-unsplash.jpg);
background-size: cover;
background-position: center;
}


//seteo del color de las cards en 'Novedades'
.blueCard{ background-color: #049CC7;}
.cyanCard{background-color: #00D8DC;  transition-delay: 100ms}
.greenCard{background-color: #00CE99;  transition-delay: 150ms}
.yellowCard{background-color :#FEDB1D;  transition-delay: 200ms}


//novedades
.novedades{
font-size: 3vw;
text-align: center;

  //contenedor de las cards
  &__cardContainer{
    margin: 2vw;
    display:flex;
    text-align: left;
    font-size: 1vw;
    gap: 2px;

    @media (max-width:$mediumSmall) {
      flex-direction: column;
      margin: 0;
    }

    // cards
    &__card{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30vw;
      width: 25%;
      padding: 3em;
      font-weight: 600;
      font-size: 1.5vw;
      overflow: hidden;

      // en mobile, se ponen en column
      @media (max-width:$mediumSmall) {
        flex-direction: column;
        width: 100%;
        font-size: 2.5vw;
      }

      // en hover aparece la imagen 
      &:hover img{
        transform: translateY(0%);
      }

      & img{
        position: absolute;
        top: 0;
        left: 0;
        height: 70%;
        width: 110%;
        object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 79%);
        transform: translateY(-100%);
        transition: all 1s cubic-bezier(.49,.17,.07,1);
      }

      //header de cada card
      &__header{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

//footer
//Para entender mejor el layout, ver el flex. Podria haber usado grid, pero flex me pareció mas rapido en el momento, y no me llevó ninguna complicación
.footer{
  display: flex;
  flex-direction: column;
  & *{
    color: #fff;
  }
  background-color: #000;
  height: max-content;

  //parte superior del footer
  &__upper{
    display: flex;
    padding: 6vw 7vw 0vw 7vw ;
    height: 90%;

    //se convierte en columna en mobile
    @media (max-width:$mediumSmall) {
      flex-direction: column;
    }

    //tres celdas de la parte superior del footer
    &__left, &__center, &__right{
      display: flex;
      width: 33.333%;

      //en mobile, al estar en column, ocupan todo el ancho
      @media (max-width:$mediumSmall) {
        width: 100%;
      }
    }

    //celda izquierda
    &__left{
      flex-direction: column;
      justify-content: space-between;

      //mitad superior de la celda izquierda
      &__up{
        display: flex;
        gap: 1vw;
        
        @media (max-width:$mediumSmall) {
          justify-content: center;
        }

        & img{

          //truco con filtros para invertir el logo y hacerlo blanco
          filter: contrast(150%) invert(1);

          @media (max-width:$mediumSmall) {
            height: 6vw;
          }
        }
      }

      //mitad inferior de la celda izquierda
      &__down{
        height: 60%;
        padding-bottom: 2vw;
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        justify-content: space-around;
        font-size: 2vw;
        text-transform: capitalize;

        @media (max-width:$mediumSmall) {
          font-size: 5.5vw;
          padding: 2vw;
          align-items: center;
          text-align: center;
        }

        //Boton de newsletter
        &__newsletter{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1vw 2vw 1vw 2vw;
          color: #000;
          font-size: 1vw;
          font-weight: 700;
          & *{
            color: #000;
          }
          background-color: #77D7DB;
          border: none;

          @media (max-width:$mediumSmall) {
            font-size: 2vw;
            padding: 2vw 6vw 2vw 6vw;
          }
        }
      }
    }

    //celda central
    &__center{
      align-items: flex-end;
      justify-content: space-evenly;
      padding-bottom: 2vw;
      font-weight: 600;

      @media (max-width:$mediumSmall) {
        font-size: 3vw;
        height: 15vw;
      }

      //en mobile, el texto de la celda central pasa a estar en el medio
      & p{
        @media (max-width:$mediumSmall) {
          order:1;
        }
      }

      //seteando los ordenes
      & #twt{
        order: 0;
      }
      & #yt{
        order: 3;
      }


      & i{
        color:#77D7DB;
        font-size: 2vw;

        @media (max-width:$mediumSmall) {
          font-size: 5vw;
        }
      }
    }

    &__right{

      //la fila de items desaparece cuando se está en mobile
      @media (max-width:$mediumSmall) {
        display: none;
      }

      & ul{
        display: flex;
        flex-direction: column;
        gap: 1vw;
        font-size: 1vw;
        justify-content: flex-end;
        padding-bottom: 2vw;
        padding-left: 9vw;
      }
    }
  }

  //estilos del segmento inferior del footer
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 4vw 0 4vw;
    font-size: .8vw;

    @media (max-width:$mediumSmall) {
      font-size: 2vw;
    }

    & *{
      color: hsl(0, 0%, 100%);
      opacity: 0.4;
    }
  }


}
